This is a demonstration of two different styles of selecting <b>Modalities</b> for a Practitioner. If your desired choice is not on the list, you may add it. The required "Name" and "Modality" fields have been pre-filled for you since the main focus is the <b>New Chosen Method</b>.
<hr/>

<%= simple_form_for @practitioner, :html => { :class => 'form-horizontal' } do |f| %>

  <%= f.input :name %>

  <div class="row" style="background-color:lightgray; border-radius: 10px;">
    <br/>
    <div id = "modality" class="span6">

      <p><b>Old Manual Method</b></p>
      <p>Only one choice is permitted. You may select from the given choices, or choose "other modality...". A new input field will appear and allow you to enter the new item.</p>
      <%= f.association :modality, :collection => Modality.old_method, :prompt => true %>

      <div class="entry_section">
        or other modality:
        <%= f.text_field :modality_other %>
      </div>
      <br/>

    </div>

    <div class="span6">

      <p><b>New Chosen Method</b></p>
      <p>You may choose as many existing modalities as you like, and/or type in new ones.</p>
      <br/>
      <%= f.association :modalities, :collection => Modality.standard,
        :input_html => {
          "data-placeholder" => 'Select your modalities',
          :multiple => true
          } %>
    </div>
  </div>


  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                practitioners_path, :class => 'btn' %>
  </div>
<% end %>
