<%= simple_form_for @practitioner, :html => { :class => 'form-horizontal' } do |f| %>

<p>
  This is a demonstration of two different styles of selecting a <b>Modality</b>. If your desired choice is not on the list, you may add it.
</p>
<hr/>

  <%= f.input :name %>

  <div class="row" style="background-color:lightgray; border-radius: 10px; ">
    <br/>
    <div class="span5">
      <p><b>Old Manual Method</b></p>
      <p>Only one choice is permitted. You may select from the given choices, or choose "other modality...". A new input field will appear and allow you to enter the new item.</p>
      <%= f.association :modality, :collection => Modality.standard, :prompt => true %>
    </div>

    <div class="span5">
      <p><b>New Chosen Method</b></p>
      <p>You may choose as many existing modalities as you like, and/or type in new ones.</p>
      <%= f.association :modalities, :collection => Modality.standard, :input_html => {:multiple => true} %>
    </div>
  </div>


  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                practitioners_path, :class => 'btn' %>
  </div>
<% end %>
