<%- model_class = Practitioner -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:modality) %></th>
    </tr>
  </thead>
  <tbody>
    <% @practitioners.each do |practitioner| %>
      <tr>
        <td>
          <%= link_to practitioner.name,
                      practitioner_path(practitioner),
                      :class => 'btn btn-link' %>
        </td>
        <td><%= practitioner.modality %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_practitioner_path,
            :class => 'btn btn-primary' %>
